section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */

  border: 8px solid;
  border-color: blue;
  border-radius: 25px;
}

#image1 {
  float: left;

  padding: 25px;

  margin: 20px 0px 0px 20px;
}

#image2 {
  float: right;
  padding: 25px;

  margin: 20px 20px 0px 0px;
}

#image3 {
  float: left;

  padding: 25px;

  margin: 20px 0px 0px 20px;
}

#image4 {
  float: right;

  padding: 25px;

  margin: 20px 20px 20px 0px;
}
